.landing-page.hide {
    display: none;
}

.landing .stars-wrapper {
    margin: 30px 0;
}

.landing .stars-wrapper h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.landing .stars {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.landing .stars .star {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    width: 142px;
    cursor: pointer;
}

.landing .stars .star + .star {
    margin-left: 20px;
}

.landing .stars .star img {
    height: 22px;
    margin-right: 12px;
}

.landing .stars .star p {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.autocomplete-suggestion {
    padding: 12px;
    font-weight: bold;
}

.autocomplete-suggestion img {
    border-radius: 50%;
    box-shadow: 0px 1px 6px grey;
    height: 22px;
    margin-right: 6px;
}

.autocomplete-suggestion + .autocomplete-suggestion {
    border-top: 1px solid #ece6e6;
} 

.recipient-name-input {
    position: relative;
}

.recipient-name-input .clear {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: no-repeat;
    display: none;
} 
