body {
    background-color: #01a0dd;
    height: 100vh;
    display: flex;
    margin: 0;
}

body.landing-page {
    background-color: #eff0f1;
}

main.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main.landing {
    width: 100%;
    max-width: 945px;
    margin: 0 auto;
    margin-top: 106px;
}

.modal-dialog {
    margin-top: 102px;
    width: 100%;
    max-width: 1440px;
}

.modal-dialog .modal-content {
    border-radius: 0;
    border: none;
}

.modal-dialog .modal-content .modal-header {
    justify-content: center;
    align-items: center;
    border-radius: 0;
    padding: 18px;
}

.modal-dialog .modal-content .modal-header img {
    height: 22px;
}

.modal-dialog .modal-content .modal-header .modal-title {
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
}

.modal-dialog .modal-content .modal-header.error,
.modal-dialog .modal-content .modal-header.success {
    display: none;
    text-align: center;
}

.modal-dialog .modal-content .modal-header.error {
    background-color: #ed1d25;
}

.modal-dialog .modal-content .modal-header.success {
    background-color: #9abe29;
}

.modal-dialog .modal-content .modal-body {
    width: 100%;
    align-self: center;
    padding: 14px 0;
    max-width: 480px;
}

.modal-dialog .modal-content .modal-body.error,
.modal-dialog .modal-content .modal-body.success {
    display: none;
    padding: 40px 0 0;
}

.modal-dialog .modal-content .modal-body.error .modal-footer,
.modal-dialog .modal-content .modal-body.success .modal-footer {
    margin-top: 40px;
    justify-content: center;
}

.modal-dialog .modal-content .modal-body.error .modal-footer button {
    width: 180px;
}

.modal-dialog .modal-content .modal-body #message-text {
    height: 150px;
    resize: none;
}

.modal-dialog .modal-content .modal-body .col-form-label {
    color: #898b8b;
}

.modal-dialog .modal-content .modal-footer {
    border: none;
    width: 100%;
    max-width: 480px;
    align-self: center;
    justify-content: space-between;
    padding: 0 0 40px 0;
}

.modal-dialog .modal-content .modal-footer .btn-secondary {
    background: #eff0f1;
    color: #000;
    font-weight: bold;
    border: none;
    width: 130px;
    margin: 0;
    padding: 8px 12px;
}

.modal-dialog .modal-content .modal-footer .btn {
    font-weight: bold;
    border: none;
    width: 130px;
    margin: 0;
    padding: 8px 12px;
}

.modal-dialog .modal-content .modal-footer .btn-secondary {
    background: #eff0f1;
    color: #000;
}

.modal-dialog .modal-content .modal-footer .btn-primary {
    background: #01a0dd;
    color: #fff;
}

.modal-dialog .modal-content .modal-body.success .success-message {
    display: flex;
}

.modal-dialog .modal-content .modal-body.success .success-message .avatar img {
    width: 90px;
    border-radius: 50%;
    box-shadow: 0px 1px 6px grey;
    margin-right: 15px;
}
