body {
    background-color: #01a0dd;
    height: 100vh;
    display: flex;
    margin: 0;
}

body.landing-page {
    background-color: #eff0f1;
}

main.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main.landing {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 106px;
}
